.table {
    width: 95%;
    border-collapse: collapse;
    border-spacing: 0;
    
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #f2f2f2;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .table {
        overflow-x: auto;
    }
}
